@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?6zebcs');
  src:  url('fonts/icons.eot?6zebcs#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?6zebcs') format('truetype'),
    url('fonts/icons.woff?6zebcs') format('woff'),
    url('fonts/icons.svg?6zebcs#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suitcase:before {
  content: "\e915";
}
.icon-apache:before {
  content: "\e912";
  color: #d22128;
}
.icon-arduino:before {
  content: "\e92b";
  color: #00979d;
}
.icon-blender:before {
  content: "\e92c";
  color: #f5792a;
}
.icon-bootstrap:before {
  content: "\e92d";
  color: #563d7c;
}
.icon-c:before {
  content: "\e90f";
  color: #a8b9cc;
}
.icon-css3:before {
  content: "\e929";
  color: #1572b6;
}
.icon-docker:before {
  content: "\e919";
  color: #1488c6;
}
.icon-facebook:before {
  content: "\e900";
  color: #1877f2;
}
.icon-flask:before {
  content: "\e921";
}
.icon-git:before {
  content: "\e91b";
  color: #f05032;
}
.icon-github:before {
  content: "\e913";
}
.icon-gitlab:before {
  content: "\e91c";
  color: #fca121;
}
.icon-gmail:before {
  content: "\e903";
  color: #d14836;
}
.icon-godot:before {
  content: "\e920";
  color: #478cbf;
}
.icon-graphql:before {
  content: "\e92e";
  color: #e10098;
}
.icon-html5:before {
  content: "\e927";
  color: #e34f26;
}
.icon-java:before {
  content: "\e917";
}
.icon-javascript:before {
  content: "\e92a";
  color: #f7df1e;
}
.icon-jenkins:before {
  content: "\e91a";
  color: #d24939;
}
.icon-jquery:before {
  content: "\e909";
  color: #0769ad;
}
.icon-laravel:before {
  content: "\e914";
  color: #ff2d20;
}
.icon-latex:before {
  content: "\e925";
  color: #008080;
}
.icon-linkedin:before {
  content: "\e902";
  color: #0077b5;
}
.icon-mail:before {
  content: "\e901";
  color: #168de2;
}
.icon-markdown:before {
  content: "\e908";
}
.icon-mathworks:before {
  content: "\e92f";
  color: #0076a8;
}
.icon-mongodb:before {
  content: "\e91d";
  color: #47a248;
}
.icon-mysql:before {
  content: "\e91e";
  color: #4479a1;
}
.icon-php:before {
  content: "\e930";
  color: #777bb4;
}
.icon-postgresql:before {
  content: "\e922";
  color: #336791;
}
.icon-python:before {
  content: "\e928";
  color: #3776ab;
}
.icon-react:before {
  content: "\e916";
  color: #61dafb;
}
.icon-redis:before {
  content: "\e926";
  color: #d82c20;
}
.icon-sass:before {
  content: "\e923";
  color: #c69;
}
.icon-tailwindcss:before {
  content: "\e918";
  color: #38b2ac;
}
.icon-vue:before {
  content: "\e91f";
  color: #4fc08d;
}
.icon-webpack:before {
  content: "\e924";
  color: #8dd6f9;
}
.icon-bash .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
}
.icon-bash .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(40, 46, 52);
}
.icon-bash .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bash .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(82, 164, 51);
}
